@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Merienda:wght@500&family=Noto+Sans:wght@500&family=PT+Serif&family=Noto+Sans:wght@300&family=Roboto:wght@300&display=swap');
@import "css_files/grid.css";
@import "css_files/cards.css";
@import "css_files/variables.css";
@import "css_files/nav.css";
@import "css_files/characters_pages.css";


@font-face {
    font-family: 'South Signature';
    src: url('FONTS/webfontkit south signature/south_signature-webfont.woff2') format('woff2'),
        url('FONTS/webfontkit south signature/south_signature-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monea Alegante';
    src: url('FONTS/webfontkit monea/monea_alegante-webfont.woff2') format('woff2'),
        url('FONTS/webfontkit monea/monea_alegante-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'south_signatureregular';
    src: url('south_signature-webfont.woff2') format('woff2'),
         url('south_signature-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height:3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c33a;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fffc;
    border-radius: 10px;
}

body {
    font-family: 'Noto Sans';
    font-weight: 300;
    background-color: #101010;
    font-size: 95%;
    padding: 0;
    margin: 0;
    height: 100%;
    /*    text-align : center;*/
}

main {
    padding-top: 80px;
    /*    background-image: radial-gradient(#000000aa, #00000000 70%), repeating-radial-gradient(#ffffff00, #ffffff00 5%, #0004 24%, #ffffff00 24%);*/
    height: 1160px
}



a {
    text-decoration: none
}


p {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 0;
    font-size: 110%
}

h2 {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Noto Sans', cursive;
    margin-bottom: 5px;
    font-size: 200%;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-family: 'Monea Alegante';
    font-size: 800%;
    text-align: center;
    margin: 15px 0 50px 0;
    padding: 0;
    font-variant: small-caps;
    line-height: 60%;
}


header h2 {
    margin: 15px;
    margin-top: 10px;
    vertical-align: middle;
    display: inline-block;
    font-weight: 900;
}

.logo {
    height: 60px;
    margin-left: 30px;
    margin-top: 5px;
}

.background {
    background-color: #101010;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.bg-items:last-child {
    display: flex;
    align-self: flex-end;
}

.welcome {
    display: block;
    position: absolute;
    top: calc(50vh - 160px);
    background-image: url(../images/logo-dnd-cropped.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 300px;
}

@media screen and (min-width: 1800px) {
    .welcome {
        height: 500px;
        top: calc(50vh - 270px);
    }
}

.icon {
    color: white;
    text-align: center;
    font-size: 600%;
    display: block;
    margin: 0;
}

hr {
    margin: 8px 15px 0px;
    border: 0px;
    height: 2px;
    background-color: #c338;
    border-radius: 20px;
    display: block;
}

.droite {
    float: right;
    display: inline;
    margin: 0;
    padding: 0;
}

.sous {
    color: rgba(255, 255, 255, 0.7);
    font-size: 70%;
    display: block;
}


.black {
    color: black;
}

/* Arrow animation ===========================================================*/

#arrowAnim {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 10s linear;
    transition: all 2s ease;
}

.arrow {
    color:#fffb;
    font-size: 50px
}


.arrowSliding {
    position: absolute;
    animation: slide 9s linear infinite;
}

.delay1 {
    animation-delay: 3s;
}

.delay2 {
    animation-delay: 6s;
}

.disappear {
    animation: fadeOut 2s linear;
}

.appear {
    animation: appear 5s linear;
}

@keyframes fadeOut {
    0% {
        opacity :1;
    }
    70% {
        opacity :0.9;
    }
    100% {
        opacity : 0;
    }
}

@keyframes appear {
    0% {
        opacity :0;
    }
    70% {
        opacity :0.1;
    }
    100% {
        opacity : 1;
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    20% {
        opacity: 1;
        transform: translateY(20px);
    }

    80% {
        opacity: 1;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}



/*--------------------------------------------------------------*/



