/* CHARACTERS CARDS : ------------------------------------------------------------------------------------------------ */

.CardsContainer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.cards {
    --bg-color : #aaa1;
    width: 300px;
    height:400px;
    background-color: var(--bg-color);
    border-radius:50px;
    margin:25px;
    border: 1px #fff5 solid;
    overflow:hidden;
    box-shadow: 5px 5px 20px black; 
    transition: transform 0.5s;
    z-index: 1;
}

.hiddenCards {
    visibility: hidden;
    position:absolute;
}

.VoirPlus {
    margin: 0px 45vw;
    background: #0000;
    color:white;
    font-family: 'Noto Sans';
    font-weight: 100;
    font-size: 120%;
    text-align: center;
    border: 1px solid #fffa;
    border-radius: 25px;
    padding: 7px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.VoirPlus:hover {
    transform: scale(110%);
    background: #c33;
    transition: all 0.5s ease;
}

.hidCit {
    font-family: 'Noto Sans';
    margin: 35px 0px;
    padding: 20px 20px;
    font-size: 120%;
    line-height: 20px;
    background-color: #000b;
    box-shadow: 0 0 30px black;
    opacity:0;
    transition: all 1s ease;
    border : 1px solid var(--accent-color);
    border-left : 0px;
    border-right: 0px;
}

.hidCit p {
    text-align: center;
    color: #fffd;
    font-weight: 300;
    font-size: 90%;
}

.hidCit h5 {
    font-family: 'South Signature';
    color : #fff;
    font-size: 170%;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.cards:hover .hidCit {
    opacity :1;
    transition: all 1s ease;
}

.cards:hover {
    position: relative;
    transform: scale(110%);
    transition: transform 0.5s;
    animation: cardHover 1s ease ;
    animation-fill-mode: forwards
}

.cards h2 {
    font-family: 'Monea Alegante';
    text-align: left;
    font-variant: normal;
    text-transform: none;
    font-size: var(--name-size);
    margin: 0px var(--name-margin) ;
    line-height: 40px;
    text-shadow: 0px 0px 15px #000c;
}

.cards .familyName {
    font-size: var(--fam-name-size);
    display:block;
    text-align:right;
    margin:0px;
    font-family: 'South Signature';
}

.cards h4 {
    font-family:  'Noto Sans', sans-serif;
    line-height: 10px;
    font-stretch: condensed;
    color: #fffc;
    font-weight: 300;
    margin:0;
    padding: 15px 25px;
    text-align: center;
}

.cards h3 {
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 110%;
    font-weight: 300;
    margin: 49px 0px;
    padding:5px;
    width:300px;
    transform: translateY(var(--transY));
    color: #fff;
    box-shadow: 0px 2px 20px #000a;
    background-color: #0006;
}


@keyframes cardover {
    0% {
        filter:blur(1px);
    }
    100% {
        filter:blur(5px);
        opacity :0.6;
    }
}


.portrait {
    width:300px;
    height:100%;
    background-image: var(--portrait-image);
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: var(--bg-position);
    position:static;
}
