

.CardsContainer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.cards {
    --bg-color : #aaa1;
    width: 300px;
    height:400px;
    background-color: var(--bg-color);
    border-radius:50px;
    margin:25px;
    border: 1px #fff5 solid;
    overflow:hidden;
    box-shadow: 5px 5px 20px black; 
    transition: transform 0.5s;
    z-index: 1;
}

.hidCit {
    font-family: 'Noto Sans';
    margin: 35px 0px;
    padding: 20px 20px;
    font-size: 120%;
    line-height: 20px;
    background-color: #000b;
    box-shadow: 0 0 30px black;
    opacity:0;
    transition: all 1s ease;
    border : 1px solid var(--accent-color);
    border-left : 0px;
    border-right: 0px;
}

.hidCit p {
    text-align: center;
    color: #fffd;
    font-weight: 300;
    font-size: 90%;
}

.hidCit h5 {
    font-family: 'South Signature';
    color : #fff;
    font-size: 170%;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.cards:hover .hidCit {
    opacity :1;
    transition: all 1s ease;
}

.cards:hover {
    position: relative;
    transform: scale(110%);
    transition: transform 0.5s;
    animation: cardHover 1s ease ;
    animation-fill-mode: forwards
}

.cards h2 {
    font-family: 'Monea Alegante';
    text-align: left;
    font-variant: normal;
    text-transform: none;
    font-size: var(--name-size);
    margin: 0px var(--name-margin) ;
    line-height: 40px;
    text-shadow: 0px 0px 15px #000c;
}

.cards .familyName {
    font-size: var(--fam-name-size);
    display:block;
    text-align:right;
    margin:0px;
    font-family: 'South Signature';
}

.cards h4 {
    font-family:  'Noto Sans', sans-serif;
    line-height: 10px;
    font-stretch: condensed;
    color: #fffc;
    font-weight: 300;
    margin:0;
    padding: 15px 25px;
    text-align: center;
}

.cards h3 {
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 110%;
    font-weight: 300;
    margin: 49px 0px;
    padding:5px;
    width:300px;
    transform: translateY(var(--transY));
    color: #fff;
    box-shadow: 0px 2px 20px #000a;
    background-color: #0006;
}


@keyframes cardover {
    0% {
        filter:blur(1px);
    }
    100% {
        filter:blur(5px);
        opacity :0.6;
    }
}


.portrait {
    width:300px;
    height:100%;
    background-image: var(--portrait-image);
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: var(--bg-position);
    position:static;
}

.CardsContainer .pyra {
    --accent-color : #e62a ;
    --portrait-image : url('../images/character-cards/pyra.png');
    --bg-color : #aaa1;
    --name-margin : 60px;
    --name-size : 400%;
    --fam-name-size : 80%;
    --bg-position : bottom;
    --transY : -20px;
}

.CardsContainer .ambrosia{
    --accent-color : #c01 ;
    --portrait-image : radial-gradient(circle farthest-corner at 50% 200%, #0000 80%, #301  , var(--accent-color ) 100%), url('../images/character-cards/ambrosia.png');
    --bg-color : #1F110E ;
    --name-margin : 35px;
    --name-size : 330%;
    --fam-name-size : 110%;
    --bg-position : bottom;
    
}

.CardsContainer .thyraa {
    --accent-color : #bac ;
    --portrait-image : radial-gradient(circle farthest-corner at 50% 100%,#0000 20%, #0000 50%, #acda 75%,  var(--accent-color ) 95%), url('../images/character-cards/thyra.png');
    --bg-color : #aaa1;
    --name-margin : 18px;
    --name-size : 400%;
    --fam-name-size : 70%;
    --bg-position : 50% 480%;
}

.CardsContainer .klomilia {
    --accent-color : #da3 ;
    --portrait-image : radial-gradient(circle farthest-corner at 50% 200%, #0000 80%, var(--accent-color ) 85%, #d41 100%), url('../images/character-cards/klomilia.png');
    --bg-color : #1F110E ;
    --name-margin : 35px;
    --name-size : 330%;
    --fam-name-size : 110%;
    --bg-position : 50% 100%;
}

.CardsContainer .lya {
    --accent-color : #ccc ;
    --portrait-image : radial-gradient(circle farthest-corner at 50% 100%,#0000 20%, #0000 50%, #5C77AC 65%,  var(--accent-color ) 95%), url('../images/character-cards/lya.png');
    --bg-color : #aaa1;
    --name-margin : 100px 0px 32px;
    --name-size : 400%;
    --fam-name-size : 80%;
    --bg-position : bottom;
}

.CardsContainer .misha {
    --accent-color : #eaa ;
    --portrait-image : radial-gradient(circle farthest-corner at 50% 100%,#0000 20%, #0000 60%, #523 75%,  var(--accent-color ) 100%), url('../images/character-cards/misha.png');
    --bg-color : #aaa1;
    --name-margin : 45px;
    --name-size : 400%;
    --fam-name-size : 80%;
    --bg-position : 50% 110%;
    --transY : -3px
}





/*--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
    font-family: 'South Signature';
    src: url('/Pages/FONTS/webfontkit south signature/south_signature-webfont.woff2') format('woff2'),
        url('Pages/FONTS/webfontkit south signature/south_signature-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monea Alegante';
    src: url('Pages/FONTS/webfontkit monea/monea_alegante-webfont.woff2') format('woff2'),
        url('Pages/FONTS/webfontkit monea/monea_alegante-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height:3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c33a;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fffc;
    border-radius: 10px;
}

body {
    font-family: 'Noto Sans';
    font-weight: 300;
    background-color: #101010;
    font-size: 95%;
    padding: 0;
    margin: 0;
    height: 100%;
    /*    text-align : center;*/
}

header {
    background-color: #000;
    height: 60px;
    padding: 15px;
    position: fixed;
    width: 98%;
    top: 0;
    margin-bottom: 0px;
    z-index: 3;
}

.header2 {
    height: 98%;
    width: 180px;
    left: 0;
    transition: all 1s ease;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200px)
}

.header2 nav ul li ul {
    visibility: visible;
    opacity: 1;
    position: relative;
    display: block;
}

.menu-bars {
    position: fixed;
    top: 15px;
    left: 25px;
    font-size: 50px;
    color: white;
    z-index:2;
}

.closebtn {
    color: white;
    font-size: 50px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 0px 0px 10px;
}


.menu-bars button {
    background-color: #0000;
    color: #fffc;
    font-size: 50px;
    text-shadow: 0 0 25px black;
    border: none;
    cursor: pointer;
}


.menu-bars button:hover {
    color: #c33;
    transition: all 0.5s ease;
}

.sidenav {
    margin-left: 10px;
}

.sidenav li ul li:hover {
    background-color: #c33;
}

.header2 .logo {
    margin: 0px 3px 5px;

}


main {
    padding-top: 80px;
    /*    background-image: radial-gradient(#000000aa, #00000000 70%), repeating-radial-gradient(#ffffff00, #ffffff00 5%, #0004 24%, #ffffff00 24%);*/
    height: 1160px
}






p {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 0;
    font-size: 110%
}

h2 {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Noto Sans', cursive;
    margin-bottom: 5px;
    font-size: 200%;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-family: 'Monea Alegante';
    font-size: 800%;
    text-align: center;
    margin: 15px 0 50px 0;
    padding: 0;
    font-variant: small-caps;
    line-height: 60%;
}


header h2 {
    margin: 15px;
    margin-top: 10px;
    vertical-align: middle;
    display: inline-block;
    font-weight: 900;
}

.logo {
    height: 60px;
    margin-left: 30px;
    margin-top: 5px;
}

.background {
    background-color: #101010;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.bg-items:last-child {
    display: flex;
    align-self: flex-end;
}

.welcome {
    display: block;
    position: absolute;
    top: calc(50vh - 160px);
    background-image: url(../images/logo-dnd-cropped.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 300px;
}

@media screen and (min-width: 1800px) {
    .welcome {
        height: 500px;
        top: calc(50vh - 270px);
    }
}

.icon {
    color: white;
    text-align: center;
    font-size: 600%;
    display: block;
    margin: 0;
}

hr {
    margin: 8px 15px 0px;
    border: 0px;
    height: 2px;
    background-color: #c338;
    border-radius: 20px;
    display: block;
}

.droite {
    float: right;
    display: inline;
    margin: 0;
    padding: 0;
}

.sous {
    color: rgba(255, 255, 255, 0.7);
    font-size: 70%;
    display: block;
}


.black {
    color: black;
}

/* Arrow animation */

#arrowAnim {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 10s linear;
    transition: all 2s ease;
}

.arrow {
    color:#fffb;
    font-size: 50px
}


.arrowSliding {
    position: absolute;
    animation: slide 9s linear infinite;
}

.delay1 {
    animation-delay: 3s;
}

.delay2 {
    animation-delay: 6s;
}

.disappear {
    animation: fadeOut 2s linear;
}

.appear {
    animation: appear 5s linear;
}

@keyframes fadeOut {
    0% {
        opacity :1;
    }
    70% {
        opacity :0.9;
    }
    100% {
        opacity : 0;
    }
}

@keyframes appear {
    0% {
        opacity :0;
    }
    70% {
        opacity :0.1;
    }
    100% {
        opacity : 1;
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    20% {
        opacity: 1;
        transform: translateY(20px);
    }

    80% {
        opacity: 1;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}


/*  NAVIGUATION MENU : ======================================================================================= */


nav a {
    text-decoration: none;
}

nav ul {
    background: #0000;
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 160%;
    font-family: 'Noto Sans', cursive
}

nav {
    float: right;
    display: inline;
    margin-top: 5px;
}

nav li {
    color: #fff;
    background: #0000;
    display: block;
    float: left;
    font-size: 90%;
    padding: 0.7rem;
    margin: 0.1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 15px;

}

nav li a {
    color: #fff;
}

.horinav li:hover {
    background-color: #c33;
    border-radius: 25px;
    transition: all 0.5s ease;
}

ul li ul li:hover {
    background: #c33;
    color: white;
    cursor: pointer;
}

/*#DB2B39*/

li:focus-within a {
    outline: none;
}

nav ul li ul {
    background: #111;
    border-radius: 0 0px 15px 15px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.6rem;
    left: 0;
    display: none;
    font-size: 80%
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    transition: all 1s ease;
}

ul li ul li {
    clear: both;
    width: 90%;
    padding: 0.5em;
}


/* CHARACTERS CARDS : ------------------------------------------------------------------------------------------------ */

.CardsHolder {
    min-height: 800px;
    background-color: #101010;
    background-image: url('https://cdn.discordapp.com/attachments/705932289007419552/1051189168295919698/1d9cb6e685d48fa0bded8e195e9a4aa7.png');
    background-position: 50% 0%;
    background-repeat: repeat-y;
}

h3 {
    color: rgba(255, 255, 255, 0.7);
    margin: 15px;
}

.container1 {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}


@media screen and (min-width: 1117px) {
    .container1 {
        padding-top: 0;
    }

    .CardsHolder {
        background-position: 50% -40%;
    }
}

@media screen and (min-width: 1667px) {
    .container1 {
        padding-top: 5%;
    }

    .CardsHolder {
        background-position: 50% -10%;
    }
}

.items {
    display: inline-block;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    border-radius: 35px;
    transition: transform 250ms;
    padding: 0px;
    margin: 20px;
    background-size: cover;
}

.container1 .items {
    width: 400px;
    height: 250px;
}

.container1 .items:hover {
    position: relative;
    transform: scale(110%);
    transition: transform 250ms;
}

.items .race {
    margin-top: 1px;
    width: 350;
    padding: 4px;
    font-size: 110%;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    box-shadow: 0 0 15px #00000044;
    background-color: #00000033;
}

.items h2 {
    padding-left: 25px;
    margin-top: 15px;
    display: inline-block;
    font-size: 220%;
    line-height: 1.2;
    text-transform: capitalize;
}

.items h3 {
    float: right;
}

.items table {
    width: 102%;
    height: 7%;
    margin: 0;
    padding: 0;
}

.items tr,
td {
    margin: 0;
    padding: 0;
}

.citation {
    display: inline-block;
    margin: 5px 15px 0px;
    font-size: 110%;
    font-weight: 300;
    height: 72px;
    font-style: italic;
    color: white;
    vertical-align: middle;
    line-height: 1.2;
}

.auteur {
    font-family: 'South Signature';
    font-size: 200%;
    text-shadow: 2px 2px 5px #00000044;
}

.boiteGauche {
    width: 95%;
    margin: auto;
}








/* CHARACTERS PAGES : --------------------------------------------------------------------------------------------------*/

.gradient-text {
    background-color: white;
    -webkit-text-fill-color: transparent;
    font-size: 1500%;
}

.banniere h1 {
    font-variant:normal;
    position: absolute;
    width: 100vw;
    top: 70vh;
    padding:3% 0;
}



.fiche {
    border: 2px solid #fff6;
    border-radius: 35px;
    box-shadow: 5px 5px 20px black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    -webkit-background-clip: none;
}

.stats-name {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    width: 95%;
}

.thyra {
    background: linear-gradient(45deg, #fffa 2%,
            #cefa 15%,
            #9cea 45%,
            #ccfa 85%,
            #dbda 95%);
}

.thyra-text {
    background: -webkit-linear-gradient(45deg,
            #fff 35%,
            #cef 40%,
            #9ce 45%,
            #dbd 55%,
            #ddb 80%);
    -webkit-background-clip: text;
    z-index:1;
    
}

.famille {
    color: #000 ;
    transform: translateY(130px);
    font-family: "South Signature";
    z-index:2;
    font-size:800%;
    text-shadow: 0px 0px 70px #fff;
}

.fiche .items {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    background: linear-gradient(40deg, #000a, #0003);
    padding: 15px;

}

.items.stats {
    justify-content: space-evenly;
    align-content: space-around;
    display: flex;
    flex-flow: wrap row;
    padding-top: 10px;
}

.items .stat {
    height: 80px;
    width: 70px;
    border-radius: 15px;
    padding: 5px;
    padding-top: 10px;
    margin: 5px;
    margin-top: 0
}

.items.stats h3 {
    margin: 10px;
    padding: 0;
    text-align: center;
    float: none;
    font-size: 200%;
}


.banniere {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 60px black;
    background-image: linear-gradient(0deg, #000a 5%, #29b1);
    z-index:-1;
}
